body{
     /* text-align: center;  */
    background-color: #05c46b;
    margin-left: 30%;
}
/* header{
    text-align: center;
} */

.heading{
    margin: 15px;
    padding: 15px;
} 
.form-control{
    background-color: white;
    width: 500px;
    height: 500px;
    padding: 30px;
    /* margin-left: 200px; */
}
 .form-control label{
    display: block;
} 
.form-content{
    padding: 10px;
}
.form-content input,select {
padding: 10px;
width: 470px;
}

.submit{
    background-color:#05c46b; ;
}